* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --purple2: #aa8eb7;
    --purple1: #2b1631;
    --purple3-bg: #d7b4f3;
    --mustard: #ffc602;
    --white-bg: #F5F5F5;
    --white: #ffffff;
}

header {
    background-image: url(photos/background5.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.name h2 {
    display: flex;
    margin: 0;
    padding-top: 1rem;
    padding-left: 2rem;
    font-family: 'Sacramento', cursive;
    font-size: 2.7rem;
    color: var(--purple2);
}

.menu {
    display: flex;
    align-self: flex-end;
    padding-right: 5rem;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.greeting {
    display: flex;
    justify-content: flex-end;
    padding-right: 17rem;
}

.greeting h2 {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.prologue {
    width: 41%;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 2rem;
    display: flex;
    align-self: center;
}

.prologue h1 {
    margin: 0;
    z-index: 0;
    color: var(--purple1);
}

.person {
    display: flex;
    overflow: visible;
    justify-content: flex-end;
    z-index: 1;
    /* position: absolute;
    bottom: 0.2rem;
    left: 9rem;*/
}

.menu li {
    display: inline;
    list-style: none;
    padding: 20px;
}

.menu a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 1rem;
}

.menu a:hover {
    color: var(--purple1);
}

#intro {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    background-color: var(--purple1);
}

.buttons_container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.button1 {
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 18px;
    border: var(--mustard) 1px solid;
    border-radius: 15px;
    margin: 20px 0 30px 0;
    background-color: var(--white);
    box-shadow: 5px 10px #888888;
    width: 70%;
    cursor: pointer;
}

.button2 {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding: 20px;
    max-width: 250px;
    border: var(--mustard) 1px solid;
    border-radius: 15px;
    margin: 20px 0 30px 0;
    box-shadow: 5px 10px #888888;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 17px;
    cursor: pointer;
    background-color: var(--white);
}

.button1:hover,
.button2:hover {
    animation: shake 0.6s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(1px, 1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    75% {
        transform: translate(2px, -1px) rotate(2deg);
    }
    100% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
}

.intro_text {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    padding-left: 3rem;
}

.intro_text h1 {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 40px;
    color: var(--purple2);
}

.intro_text p {
    padding: 0 100px 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: var(--white);
    padding: 1rem 0rem 1rem 0rem;
}

.projectsnumber {
    display: flex;
    justify-content: center;
    background-color: var(--purple1);
    padding: 2rem;
}

.projects_complete {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    color: var(--white)
}

.projects_complete h1 {
    font-size: 60px;
    font-family: 'Spline Sans Mono', monospace;
    display: flex;
    align-self: center;
    margin: 0;
    color: var(--purple2);
}

.projects_complete h3 {
    font-family: 'Spline Sans Mono', monospace;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-self: flex-start;
}

#projects_show {
    padding: 2rem;
    background-color: var(--white-bg);
}

#projects_show h1 {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 40px;
    text-align: center;
    color: var(--purple1);
}


/* Slideshow container */

.slides_container {
    max-width: 500px;
    position: relative;
    margin: auto;
    border: var(--mustard) 1px solid;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 5px 10px #888888;
}

.slides_container img {
    border-radius: 8px;
    margin: 10px 10px 5px 10px;
}


/* Hide the images by default */

.projects {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 80%;
    text-align: center;
    background-color: black;
    opacity: 60%;
}


/* The dots/bullets/indicators */

.circles {
    text-align: center
}

.circle {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.experience {
    background-color: var(--purple3-bg);
    padding: 2rem;
}

.experience h1 {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 40px;
    text-align: center;
    color: var(--purple1);
}

.job {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: var(--mustard) 1px solid;
    border-radius: 15px;
    margin: 20px;
    padding-left: 2rem;
    max-width: 33.3%;
    background-color: var(--white);
}

.hide {
    position: relative;
    left: -10rem;
    top: 5rem;
    visibility: hidden;
}

.hide2 {
    position: relative;
    left: -8rem;
    top: 7rem;
    visibility: hidden;
}

.hide3 {
    position: relative;
    left: -8rem;
    top: 4rem;
    transform: rotate(15deg);
    visibility: hidden;
}

.job1 {
    display: flex;
    justify-content: flex-start;
}

.job2 {
    display: flex;
    justify-content: center;
}

.job3 {
    display: flex;
    justify-content: flex-end;
}

.waitress:hover+.hide,
.tester:hover+.hide2,
.admin:hover+.hide3 {
    visibility: visible;
}

.job h1 {
    display: flex;
    align-self: flex-start;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 20px;
}

.job h2 {
    display: flex;
    align-self: flex-start;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 15px;
    padding-top: 2rem;
}

.job p {
    display: flex;
    align-self: flex-start;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding-top: 0.5rem;
}

.skills {
    background-color: var(--white-bg);
    padding: 2rem;
}

.skills h1 {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 40px;
    text-align: center;
    color: var(--purple1);
}

.skillsGrid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

.skills p,
h3 {
    text-align: center;
    padding-top: 2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.skills a {
    color: var(--purple2)
}

.skills a:hover {
    color: var(--purple1)
}

.skillsGrid img {
    height: 200px;
}

.skillsGrid h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

.skillsGrid p {
    padding: 0;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--purple2) 2px solid;
    border-radius: 15px;
    background-color: var(--white);
    padding: 0rem 1rem 0.5rem 1rem;
}

.icon:hover {
    transform: translate(0, -10px);
}

.contact_form {
    position: relative;
    background-color: var(--purple1);
    padding: 2rem;
    font-family: 'Spline Sans Mono', monospace;
    color: var(--white);
}

.emailpic {
    position: absolute;
    bottom: 0;
    right: 0rem;
}

.contact_form h1 {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 40px;
    text-align: center;
    color: var(--purple1);
    margin: 0;
}

form {
    max-width: 550px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 40px;
    background: var(--purple2);
    border-radius: 3px;
}

label {
    display: block;
    margin: 20px 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 3px;
    font-family: 'Spline Sans Mono', monospace;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: 2px solid var(--purple1);
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--mustard);
}

footer {
    padding: 1rem;
    background-color: #332539;
}

footer p {
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 18px;
    color: var(--white);
}


/*tablet*/

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .person {
        width: 400px;
    }
    .prologue {
        font-size: 1.5rem;
    }
    .greeting {
        padding-right: 2rem;
    }
    header {
        height: 650px;
    }
    .button1 {
        width: 200px;
    }
    .job {
        max-width: 45%;
    }
    .job h1 {
        font-size: 1rem;
    }
    .waitress:hover+.hide,
    .tester:hover+.hide2,
    .admin:hover+.hide3 {
        visibility: hidden;
    }
    .emailpic {
        display: none;
    }
}


/*phone*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .person {
        display: none;
    }
    .greeting {
        padding-right: 0;
    }
    header {
        background-image: none;
        background-color: var(--purple3-bg);
        min-width: 320px;
        height: 500px;
    }
    .name h2 {
        color: var(--white);
    }
    .button2 {
        font-size: 15px;
        color: black;
    }
    .button1:hover {
        animation: none;
    }
    .name h2 {
        font-size: 25px;
    }
    .prologue h1 {
        font-size: 2rem;
    }
    .header_wrapper {
        justify-content: center;
    }
    .prologue {
        justify-content: center;
    }
    .greeting {
        justify-content: center;
        padding-right: 10rem;
        transform: rotate(-10deg);
    }
    #intro {
        justify-content: center;
    }
    #intro h1 {
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    .intro_text {
        padding: 0;
    }
    .intro_text p {
        font-size: 16px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .greeting h2 {
        font-size: 1.1rem;
    }
    .menu a {
        font-size: 0.7rem;
    }
    .menu {
        padding-right: 0;
    }
    .menu li {
        padding: 10px;
    }
    .slides_container {
        border-style: none;
        box-shadow: none;
        border: none;
    }
    .slides_container img {
        max-width: 100%;
    }
    .buttons_container {
        display: none;
    }
    .skillsGrid {
        grid-template-columns: 150px 150px;
    }
    .skillsGrid img {
        width: 100%
    }
    .icon:hover {
        transform: none;
    }
    #projects_show h1,
    .experience h1,
    .skills h1,
    .contact_form h1 {
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    .job {
        min-width: 90%;
        padding: 10px;
        margin-left: 20px;
    }
    .job h1 {
        font-size: 10px;
    }
    .job1 {
        display: flex;
        justify-content: flex-start;
    }
    .job2 {
        display: flex;
        justify-content: flex-start;
    }
    .job3 {
        display: flex;
        justify-content: flex-start;
    }
    .waitress:hover+.hide,
    .tester:hover+.hide2,
    .admin:hover+.hide3 {
        visibility: hidden;
    }
    .emailpic {
        display: none;
    }
    footer p {
        font-size: 16px;
    }
}